.div1{
    width:100%;
    height:720px;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
}
.div2{
    width:30%;
    height:600px;
    background-color:lightyellow;
    border:9px dotted red;
    
}
.div2 p{
    font-size: 30px;
    color:black;
    text-align: center;
    letter-spacing: 2px;
}
.div3 p{
    font-size:25px;
    font-weight: bold;
    text-align: center;
    color:black;
    letter-spacing: 0cm;

}
.div4{
    width:200px;
    height:200px;
    border:2px solid;
    margin:20px 20px 20px 120px;
}

img{
    width:80%;
    height:140px;
    margin:16px;
    transition: 2s ;
    
}
img:hover{
    width:185px;
    height: 185px;
    content:url(happy.jpg)
}
.div5 p{
    font-size:20px;
    text-align: center;
    color:black;
    letter-spacing: 0cm;   
}
.div6 p{
    font-size:20px;
    text-align: center;
    color:black;
    letter-spacing: 0cm;   
}

.div7 p{
    font-size:30px;
    text-align: center;
    color:black;
    letter-spacing: 0cm;  
    font-weight: bold;
    letter-spacing: none;
}