.div1{
    animation-duration: 5s;
    width: 400px;
    height: 400px;
    background-color: blue;
}
.div2{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 50px;
    background-color: yellow;
    font-size: 25px;
    animation:right 5s;
}


@keyframes right{
    0%, 75%{
     background-color:green;
     transform:translate(0px,0px);
    }
    25%,100%{
     background-color: yellow;
     transform:translateX(350px);
    }
    40%{
     background-color: rgb(249, 32, 162);
     transform:translate(350px,350px);
    }
    65%{
     background-color: red;
     transform:translateY(350px);
    }
    90%{
        border-radius: 50%;
        transform: translate(175px, 175px);
    }
}

